.background {
  width: 100%;
  /* height: 100vh; */
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: #000;
  /* font-size: calc(0.5vw + 5px); */
}
.container {
  display: flex;
  width: 90%;
  max-width: 100%;
  background: #fff;
  padding: calc(3vw);
  padding-bottom: 5px;
  align-items: center;
  justify-content: center;
}
.content {
  /* text-align: left; */
  width: 100%;
  /* margin: 10px auto; */
}
.content-top {
  /* font-size: calc(0.5vw + 16px) !important; */
}
.title {
}
.answer {
  text-align: start;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  margin-left: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.answer:hover {
  background-color: rgb(206, 206, 203);
}
.answer-title {
  position: relative;
  color: #c01718;
}
.answer-title::after {
  content: '';
  width: 100%;
  height: 1px;
  background: #c01718;
  position: absolute;
  top: 90%;
  left: 0;
  z-index: 99;
}
.footer {
  /* display: flex; */
  text-align: center;
  padding: 10px;
}
.footer-btn:hover {
  /* text-decoration: underline; */
}
@media (max-height: 600px) {
  .background {
    height: unset;
  }
}

.contentleft {
  width: 30%;
  margin-top: -30px;
  display: flex;
  align-items: center;
  background-color: #fff;
}

@media screen and (max-width: 1000px) {
  .contentleft {
    width: 0%;
  }
}



/* .form {
  width: 70%;
} */



