.container {
    padding: 20px;
  }
  
  .previewImage {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
  }
  
  .destinationImage {
    width: 100px;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
  }
  